@{
    ViewData["Title"] = "Classes";
}

<div class="container-fluid pt-3">
    <div class="row removable">
        <div class="col-lg">
            <div class="user-form">
                <h1>Add a Class</h1>
                <form class="add-user">
                    <input class="add-user-input" type="text" placeholder="Class name">
                    <br>
                    <textarea class="add-user-input" type="text" placeholder="Description"></textarea>
                    <br>
                    <br>
                    <input class="add-user-input" type="file" id="myFile" name="filename">
                    <br>
                    <div class="select-days">
                        <p>Select Day(s)</p>
                        <div>
                            <input type="checkbox" id="monday" name="week-days[]" value="Monday">
                            <label for="monday">Monday</label>
                        </div>

                        <div>
                            <input type="checkbox" id="tuesday" name="week-days[]" value="Tuesday">
                            <label for="tuesday">Tuesday</label>
                        </div>

                        <div>
                            <input type="checkbox" id="wednesday" name="week-days[]" value="Wednesday">
                            <label for="wednesday">Wednesday</label>
                        </div>

                        <div>
                            <input type="checkbox" id="thursday" name="week-days[]" value="Thursday">
                            <label for="thursday">Thursday</label>
                        </div>

                        <div>
                            <input type="checkbox" id="friday" name="week-days[]" value="Friday">
                            <label for="friday">Friday</label>
                        </div>

                        <div>
                            <input type="checkbox" id="saturday" name="week-days[]" value="Saturday">
                            <label for="saturday">Saturday</label>
                        </div>

                        <div>
                            <input type="checkbox" id="sunday" name="week-days[]" value="Sunday">
                            <label for="sunday">Sunday</label>
                        </div>
                    </div>
                    <button class="btn btn-add-form" type="submit">Add Class</button>
                </form>
            </div>
        </div>
    </div>
</div>