@{
    ViewData["Title"] = "Add Class";
}

@model Gym_Web_Application.Models.ClassModel

<div class="container-fluid pt-3">
    <div class="row removable">
        <div class="col-lg">
            <div class="user-form">
                <h1>Add a Class</h1>
                <form method="post" asp-controller="Classes" asp-action="AddClass" enctype="multipart/form-data" class="AddClass"> 
                    <div>
                        <input class="add-user-input" type="text" placeholder="Class name" asp-for="Name"> 
                    </div>
                    <br>
                    <div>
                        <textarea class="add-user-input" placeholder="Description" asp-for="Description"></textarea> 
                    </div>
                    <br>
                    <div>
                        <input class="add-user-input" type="file" id="myFile" name="ImageFile"> 
                    </div>
                    <br>
                    <div class="select-days">
                        <p>Select Day(s)</p>
                        @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
                        {
                            <div>
                                <input type="checkbox" id="@day" name="SelectedDays" value="@day">
                                <label for="@day">@day</label>
                            </div>
                        }
                    </div>
                    <br>
                    <button class="btn btn-add-form" type="submit">Add Class</button>
                </form>
            </div>
        </div>
    </div>
</div>
