@{
    ViewData["Title"] = "Classes";
}
@model List<Gym_Web_Application.Models.ClassModel>

<div class="container-fluid pt-3">
    <div class="row removable">
        <div class="col-lg">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h1 class="mb-0">Classes</h1>
                        </div>
                        <div class="col text-right">
                            <input class="table-search-bar" placeholder="Search for Class">
                        </div>
                        <div class="col text-right">
                            <a class="btn-add" asp-controller="Classes" asp-action="AddClasses">Add a Class</a>
                            <a class="btn-add" asp-controller="Classes" asp-action="AssignClasses">Assign a Class</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Class Days</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Class in Model)
                            {
                                <tr>
                                    <th scope="row">
                                        @Class.ID
                                    </th>
                                    <td>
                                        @Class.Name
                                    </td>
                                    <td>
                                        @Class.Description
                                    </td>
                                    <td>
                                        @{
                                            var classDaysForClass = ((List<ClassDaysModel>)ViewData["ClassDays"]).Where(cd => cd.ClassID == Class.ID).Select(cd => cd.Days);
                                            var classDaysString = string.Join(", ", classDaysForClass);
                                        }
                                        @classDaysString
                                    </td>
                                    <td>
                                      @Html.ActionLink("Edit","EditClasses", new{id = Class.ID},new{@class="btn btn-sm btn-primary"})
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>