@{
    ViewData["Title"] = "Clients";
}

<div class="container-fluid pt-3">
    <div class="row removable">
        <div class="col-lg">
            <div class="user-form">
                <h1>Add a Client</h1>
                <form method="POST" class="add-client">
                    <div>
                        <input class="add-user-input" type="text" placeholder="First Name" />
                    </div>
                    <span id="fname-error" class="error-message"></span>
                    <br>
                    <div>
                        <input class="add-user-input" type="text" placeholder="Last Name" />
                    </div>
                    <span id="lname-error" class="error-message"></span>
                    <br>
                    <div>
                        <input class="add-user-input" type="text" placeholder="Age" />
                    </div>
                    <span id="age-error" class="error-message"></span>
                    <br>
                    <div>
                        <input class="add-user-input" type="text" placeholder="Phone Number" />
                    </div>
                    <span id="phoneno-error" class="error-message"></span>
                    <br>
                    <div>
                        <input class="add-user-input" type="text" placeholder="Weight" />
                    </div>
                    <br>
                    <div>
                        <input class="add-user-input" type="text" placeholder="Height" />
                    </div>
                    <br>
                    <select class="add-user-input">
                        <option value="">Gender</option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select>
                    <br>
                    <div>
                        <input class="add-user-input" type="text" placeholder="Email" />
                    </div>
                    <span id="email-error" class="error-message"></span>
                    <br>
                    <button class="btn btn-add-form" type="submit">Add Client</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        clearInputFields();
    });

    function clearInputFields() {
        var inputFields = document.querySelectorAll('.add-user-input');
        inputFields.forEach(function (input) {
            input.value = '';
        });
    }
</script>