@model Gym_Web_Application.Models.EmployeeModel

@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/loginEmp.css" asp-append-version="true" />
</head>
<body>
<div class="login-page">
    <h1 class="title">ProFit Gym Employee Log in</h1>
    <div class="form">
        <form asp-action="LoginEmployee" method="post" asp-controller="Home" class="login-form" onsubmit="return validateForm()">
            <input id="email" name="Email" type="email" placeholder="email" asp-for="Email" />
            <span id="email-error" class="error-message"></span>
            <input type="password" id="password" name="Password" placeholder="password" asp-for="Password" />
            <span id="password-error" class="error-message"></span>
            <span id="all-error"></span>
            <button type="submit">login</button>
        </form>
        @if(ViewBag.ErrorMessage != null)
        {
            <p class="text-danger">@ViewBag.ErrorMessage</p>
        }
    </div>
</div>
<script src="~/js/login_validation.js"></script>
</body>
</html>