@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/loginEmp.css" asp-append-version="true" />
</head>

<div class="login-page">
    <h1 class="title">ProFit Gym Employee Log in</h1>
    <div class="form">
        <form autocomplete="off" method="post" class="login-form" asp-action="LoginEmployee"
            onsubmit="return validateForm()">
            <input id="email" type="email" placeholder="email" />
            <span id="email-error" class="error-message"> </span>
            <input type="password" id="password" placeholder="password" />
            <span id="password-error" class="error-message"> </span>
            <span id="all-error"> </span>
            <button type="submit">login</button>
        </form>
    </div>
</div>
</div>
<script src="~/js/login_validation.js"></script>