.modal,
.modal-box {
    z-index: 900;
}

.modal-sandbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .8);
    overflow: hidden;
}

.modal-content {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: fit-content;
    text-align: center;
}

.modal-box {
    position: relative;
    width: 100%;
    margin: 0px auto;
}

.modal-header {
    padding: 0px 40px;
    color: black;
}

.modal-body {
    padding: 20px;
}

/* Close Button */
.close-modal {
    text-align: right;
    cursor: pointer;
}

